<!DOCTYPE html>
<html lang="pl">
<body>
<img src="http://matumk.iboss.pl/logo-efinder.png"/>
<h1>Witaj <span th:text="${login}"></span>!</h1>

<div>
    <p>
        Poniżej znajduje się link, służący do zresetowania hasła.
    </p>
    <p>Jeżeli nie chciałeś zmienić hasła, to zignoruj ten email.</p>
    <p><a href="#" th:href="${'https://www.gdzie-znajde.com/#/settings/change-password?id=' + forgetPasswordLink}">link
        do
        zmiany
        hasła</a></p>

</div>

</body>
</html>