<!DOCTYPE html>
<html lang="pl">
<body>
<img src="http://matumk.iboss.pl/logo-efinder.png"/>
<h1>Witaj <span th:text="${login}"></span>!</h1>

<div>
            <span>
                Dziękujemy za rejestrację w serwisie gdzie-znajdę.
            </span>
    <p>Twój adres email to: <span th:text="${email}"></span></p>
    <p>Mamy nadzieję, że korzystanie z aplikacji sprawi Ci tyle samo frajdy, ile nam tworzenie jej.</p>
    <p>W razie pytań, sugestii, czy zauważenia błędu w działaniu aplikacji, jesteśmy dostępni pod <a
            href="mailto:finder.matumk.iboss.pl">tym</a> adresem email. </p>

</div>
</body>
</html>